html *{
    font-family: 'Nanum Pen Script', cursive !important; 
    width:100%;
    color:#b46784;
}
body{   
    height:100vh !important;
    background: rgb(255,224,209);
    background-repeat: no-repeat;
    background-size: auto;
    background: linear-gradient(180deg, rgba(255,223,207,1) 0%, rgba(253,215,203,1) 25%, rgba(245,209,197,1) 52%);   
}
.dropdown{
    margin: auto;
    width: 50%;
    min-width: 250px;
}
.dropdown-menu{
    margin: auto;
}

.dropdown .btn{
    background-color:#d7b3c9;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #be9db2 !important;
}

#tea-gif{
    text-align: center;
}
.row{
    margin-left:0 !important;
}
img{
    height:100%;
}
#display {
    margin: auto;
    margin-top: 0.3em;
    border-radius: 20px;
    background-color:#F8E9FE;
    padding: 0.2em;
}
  
#sampleui {
    margin:auto;
    height: 100%;
    width: 80%;
}


.title{
    padding: 2em;
    text-align: center;
    margin: auto;
    font-size: 2rem;
}

.title h1{
    text-align: center;
    font-size: 4.4rem;
}

form {
    padding: 1em;
}
input{
    padding: 0.5em;
    width: 74%;
}

li{
    line-height:2rem;
}

button {
background-color: #FFB9B9;
padding: 0.1em 0.5em;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 1.2em;
margin: 10px 5px;
cursor: pointer;
border-radius: 20px;
border: 1px solid #D28D8D;
}

.none{
    display:none;
}

footer div{
    font-size: 1.5em;
}