html *{
    font-family: 'Nanum Pen Script', cursive !important; 
    width:100%;
}
body{   
    height:100vh !important;
    background: rgb(255,224,209);
    background-repeat: no-repeat;
    background-size: auto;
    background: linear-gradient(180deg, rgba(255,223,207,1) 0%, rgba(253,215,203,1) 25%, rgba(245,209,197,1) 52%);   
}
.dropdown{
    margin: auto;
    width: 50%;
    min-width: 250px;
}
.dropdown-menu{
    margin: auto;
}

.dropdown .btn{
    background-color:#d7b3c9;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #be9db2 !important;
}

#tea-gif{
    text-align: center;
}
.row{
    margin-left:0 !important;
}
img{
    height:100%;
}
#display {
    min-width:255px;
    margin: auto;
    margin-top: 0.3em;
    border-radius: 1em;
    background-color:#F8E9FE;
    padding: 0.2em 0.4em 0.7em 0.4em;
    font-size: 0.7em;
    overflow-wrap: break-word;
}
  
#sampleui {
    margin:auto;
    height: 100%;
    width: 80%;
}

@media only screen and (max-width: 600px) {
    #sampleui {
        margin:0;
    }
}

.title{
    color:#b46784;
    padding: 1em;
    text-align: center;
    margin: auto;
    font-size: 2rem;
}

.title h1{
    text-align: center;
    font-size: 4.4rem;
}

form {
    padding: 1em;
}
input{
    margin-top:0.5em;
    border:none;
    border-radius: 1em;
    padding: 0.2em;
    width: 40%;
    min-width:190px;
}

li{
    line-height:2rem;
}

.form-btn {
    width: 20%;
    min-width:150px;
    background-color: rgb(236, 99, 99);
    padding: 0.1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    margin-top:0.5em;
    cursor: pointer;
    border-radius: 1em;
    border: none;
    color:white;
}

form{
    padding:0.2em;
    padding-bottom: 0.6em;
}
.none{
    display:none;
}

footer div{
    font-size: 1.5em;
}

p{
    margin-bottom: 0.2em !important;
}